* {
  box-sizing: inherit;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 2rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 1.4rem;
  font-family: $primary-font;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  @include transition;
  color: $gray;
  text-decoration: none;

  &:hover {
    color: $primary-color;
  }
}

.active {
  color: $primary-color !important;
}

.desc {
  color: $gray !important;
}
