@import "./base/reset";
@import "./base/variables";
@import "./base/mixins";
@import "./base/global";
@import "./base/animation";
@import "./partials/header";
@import "./partials/footer";

@import "./components/button";
@import "./components/product";
@import "./components/carousel";
@import "./components/top-title";
@import "./components/card";
@import "./components/input";
@import "./components/breadcrumb";
@import "./components/pagination";
@import "./components/tab";
@import "./components/tag";

@import "./pages/index";
@import "./pages/about";
@import "./pages/address";
@import "./pages/blog";
@import "./pages/blog-detail";
@import "./pages/cart";
@import "./pages/contact";
@import "./pages/login";
@import "./pages/register";
@import "./pages/product";
@import "./pages/product-detail";
@import "./pages/order-list";
@import "./pages/404";
