.register {
  &__header {
    a {
      @include absolute(0, 0, null, null);
      margin-right: 0.75rem;
    }
  }

  &__title {
    text-transform: uppercase;
  }

  &__form {
    padding: 5rem 4% 0 4%;
  }
}
