-
    var header = {
        topItems: [
            {
                title: "Tài khoản của tôi",
                link: "#!"
            },
            {
                title: "Trạng thái đơn hàng",
                link: "/order-list.html"
            },
            {
                title: "Danh sách ưu thích",
                link: "#!"
            },
            {
                title: "Giỏ hàng",
                link: "/cart.html"
            },
            {
                title: "Đăng nhập",
                link: "/login.html"
            },
            {
                title: "Đăng ký",
                link: "/register.html"
            }
        ],
        
        carouselItems: [
            {
                imgFile: 'slide-1.jpg',
                title:'Rượu',
                subtitle:'Vang Đỏ',
                year:'1980'
            },
                        {
                imgFile: 'slide-2.jpg',
                title:'Rượu',
                subtitle:'Vang Trắng',
                year:'1980'
            },
                        {
                imgFile: 'slide-3.jpg',
                title:'Rượu',
                subtitle:'Champagne',
                year:'1980'
            }
        ],

        navItems: [
            {
                title: 'Trang chủ',
                link: '/'
            },
            {
                title: 'Rượu vang đỏ',
                link: '/product.html', 
                hasMegaMenu: true
            },
            {
                title: 'Rượu trắng',
                link: '#',
                hasMegaMenu: true
            },
            {
                title: 'Champagne',
                link: '#',
                hasMegaMenu: true
            },
            {
                title: 'Thông tin',
                link: '/about.html'
            },
            {
                title: 'Blog',
                link: '/blog.html'
            },
            {
                title: 'Liên hệ',
                link: '/contact.html'
            }
        ],

        megaMenuItems: [
            {
                title: 'Rượu Ngoại',
                list: [
                    {
                        name: 'Rượu Chivas',
                        link: '#'
                    },
                    {
                        name: 'Hàng độc - Rượu độc đáo',
                        link: '#'
                    },
                    {
                        name: 'Johnnie Walker',
                        link: '#'
                    },
                    {
                        name: 'Rượu Whisky',
                        link: '#'
                    },
                    {
                        name: 'Rượu Remy Martin',
                        link: '#'
                    },
                    {
                        name: 'Rượu Glenmorangie',
                        link: '#'
                    }
                ]
            },
            {
                title: 'Rượu Vang',
                list: [
                    {
                        name: 'Rượu Chivas',
                        link: '#'
                    },
                    {
                        name: 'Hàng độc - Rượu độc đáo',
                        link: '#'
                    },
                    {
                        name: 'Johnnie Walker',
                        link: '#'
                    },
                    {
                        name: 'Rượu Whisky',
                        link: '#'
                    },
                    {
                        name: 'Rượu Remy Martin',
                        link: '#'
                    },
                    {
                        name: 'Rượu Glenmorangie',
                        link: '#'
                    }
                ]
            },
            {
                title: 'Rượu Ngoại',
                list: [
                    {
                        name: 'Rượu Chivas',
                        link: '#'
                    },
                    {
                        name: 'Hàng độc - Rượu độc đáo',
                        link: '#'
                    },
                    {
                        name: 'Johnnie Walker',
                        link: '#'
                    },
                    {
                        name: 'Rượu Whisky',
                        link: '#'
                    },
                    {
                        name: 'Rượu Remy Martin',
                        link: '#'
                    },
                    {
                        name: 'Rượu Glenmorangie',
                        link: '#'
                    }
                ]
            }
        ]
    };

    var footer = {
        brand: [
            {
                imgFile: 'brand-1.jpg',
                imgName: 'Authentic brand'
            },
            {
                imgFile: 'brand-2.jpg',
                imgName: 'Retrobrand'
            },
            {
                imgFile: 'brand-3.jpg',
                imgName: 'Bearbrand'
            }
        ],

        menuLeft: [
            {
                itemTitle: 'Thông tin',
                list: [
                    {
                        name: 'Về chúng tôi',
                        link: '#'
                    },
                    {
                        name: 'Giao hàng',
                        link: '#'
                    },
                    {
                        name: 'Cảm nghĩ',
                        link: '#'
                    },
                    {
                        name: 'Lưu trữ',
                        link: '#'
                    },
                    {
                        name: 'Chính sách riêng tư',
                        link: '#'
                    }
                ]
            },
            {
                itemTitle: 'Mua hàng',
                list: [
                    {
                        name: 'Vận chuyển và trả hàng',
                        link: '#'
                    },
                    {
                        name: 'Mua hàng an toàn',
                        link: '#'
                    },
                    {
                        name: 'Vận chuyển quốc tế',
                        link: '#'
                    },
                    {
                        name: 'Liên kết',
                        link: '#'
                    },
                    {
                        name: 'Dịch vụ giảm giá',
                        link: '#'
                    }
                ]
            } 
        ],

        menuEmail: {
            itemTitle: 'Gửi email',
            msg: 'Gửi email cho chúng tôi',
            placeholder: 'Enter your email',
            social: [
                {
                    icon: 'fab fa-twitter',
                    link: 'https://twitter.com/'
                },
                {
                    icon: 'fab fa-google',
                    link: 'https://www.google.com/'
                },
                {
                    icon: 'fab fa-dribbble',
                    link: 'https://dribbble.com/'
                },
                {
                    icon: 'fab fa-linkedin-in',
                    link: 'https://www.linkedin.com/'
                },
                {
                    icon: 'fab fa-instagram',
                    link: 'https://www.instagram.com/'
                },
            ]
        },

        menuContact: {
            itemTitle: 'Liên hệ',
            address: 'Tầng 4, Tòa nhà Hanoi Group Số 442 Đội Cấn, P. Cống Vị, Q. Ba Đình, Hà Nội',
            onlineAdvise: [
                {
                    icon: 'fas fa-phone-alt',
                    info: '(04) 6674 2332'
                },
                {
                    icon: 'fas fa-phone-alt',
                    info: '(04) 3786 8904'
                },
                {
                    icon: 'fas fa-phone-alt',
                    info: '(08) 6680 9686'
                },
                {
                    icon: 'fas fa-envelope',
                    info: 'Support@bizweb.vn'
                },
            ]
        },
        
        bottom: {
            copyright: '© Copyright 2008-2014 DKT Technology JSC',
            paymentImg: './assets/images/payment.jpg'
        }

    }

    var intro = {
        introBgLeft: {
            img: 'intro-bg-left.jpg',
            imgAlt: 'intro background left'
        },
        introBgRight: {
            img: 'intro-bg-right.jpg',
            imgAlt: 'intro background right'
        },
        introTitle: 'Giới thiệu',
        introDesc: 'Mriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui faciteorum claritatem Investigtiones demonstraverunt lectores legere me lius quod ii legunt saepius.Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putam'
    }

    var topProduct = {
        img: 'top-product.jpg',
        imgAlt: 'top product',
        title: 'Rượu nho năm 1987',
        price: '330.000',
        desc: 'Một hợp chất có trong rượu vang gọi là Resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro confcos khả năng ngăn chặn mật độ oxy hóa của protein béo.',
        link: '#!',
        countdown: [
            {
                number: '334',
                format: 'Ngày'
            },
            {
                number: '26',
                format: 'Giờ'
            },
            {
                number: '60',
                format: 'Phút'
            },
            {
                number: '15',
                format: 'Giây'
            },
        ]
    }

    var newProducts = {
        itemTitle: 'Sản phẩm mới',
        carousels: [
            [
                {
                    img: 'Product/1.jpg',
                    imgAlt: 'product 1',
                    type: 'sale',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                {
                    img: 'Product/2.jpg',
                    imgAlt: 'product 2',
                    type: 'new',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/3.jpg',
                    imgAlt: 'product 3',
                    type: 'hot',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/4.jpg',
                    imgAlt: 'product 4',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
            ],
            [
                {
                    img: 'Product/5.jpg',
                    imgAlt: 'product 1',
                    type: 'sale',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                {
                    img: 'Product/6.jpg',
                    imgAlt: 'product 2',
                    type: 'new',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/7.jpg',
                    imgAlt: 'product 3',
                    type: 'hot',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/8.jpg',
                    imgAlt: 'product 4',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
            ],
            [
                {
                    img: 'Product/9.jpg',
                    imgAlt: 'product 1',
                    type: 'sale',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                {
                    img: 'Product/10.jpg',
                    imgAlt: 'product 2',
                    type: 'new',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/11.jpg',
                    imgAlt: 'product 3',
                    type: 'hot',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/12.jpg',
                    imgAlt: 'product 4',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
            ]
        ]
    }

    var gallery = [
        {
            img: 'gallery-1.jpg',
            year: '1987',
            name: 'Rượu'
        },
        {
            img: 'gallery-2.jpg',
            year: '1969',
            name: 'Rượu'
        },
        {
            img: 'gallery-3.jpg',
            year: '1982',
            name: 'Rượu'
        },
        {
            img: 'gallery-4.jpg',
            year: '1973',
            name: 'Rượu'
        },
        {
            img: 'gallery-5.jpg',
            year: '1956',
            name: 'Rượu'
        },
        {
            img: 'gallery-6.jpg',
            year: '1999',
            name: 'Rượu'
        },
        {
            img: 'gallery-7.jpg',
            year: '1940',
            name: 'Rượu'
        },
        {
            img: 'gallery-8.jpg',
            year: '1952',
            name: 'Rượu'
        },
    ]

    var hotProducts = {
        itemTitle: 'Sản phẩm bán chạy',
        carousels: [
            [
                {
                    img: 'Product/14.jpg',
                    imgAlt: 'product 1',
                    type: 'sale',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                {
                    img: 'Product/13.jpg',
                    imgAlt: 'product 2',
                    type: 'new',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/12.jpg',
                    imgAlt: 'product 3',
                    type: 'hot',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/11.jpg',
                    imgAlt: 'product 4',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
            ],
            [
                {
                    img: 'Product/10.jpg',
                    imgAlt: 'product 1',
                    type: 'sale',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                {
                    img: 'Product/9.jpg',
                    imgAlt: 'product 2',
                    type: 'new',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/8.jpg',
                    imgAlt: 'product 3',
                    type: 'hot',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/7.jpg',
                    imgAlt: 'product 4',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
            ],
            [
                {
                    img: 'Product/6.jpg',
                    imgAlt: 'product 1',
                    type: 'sale',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                {
                    img: 'Product/5.jpg',
                    imgAlt: 'product 2',
                    type: 'new',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/4.jpg',
                    imgAlt: 'product 3',
                    type: 'hot',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/3.jpg',
                    imgAlt: 'product 4',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
            ]
        ]
    }

    var newsAndBlog = {
        itemTitle: 'Tin tức & Blog',
        blogCards: [
            {
                img: 'blog-1.jpg',
                imgAlt: 'blog image 1',
                itemTitle: 'Vang Thăng Long classic',
                author: 'Giangle',
                date: '30/06/2015',
                commentCount: '60',
                desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750m ...'
            },
            {
                img: 'blog-2.jpg',
                imgAlt: 'blog image 2',
                itemTitle: 'Vang Thăng Long classic',
                author: 'Giangle',
                date: '30/06/2015',
                commentCount: '60',
                desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long ...'
            }
        ]
    }

    var customerReview = {
        itemTitle: 'Khách hàng',
        carousels: [
            {
                desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên  từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn, Vang nổ đỏ Thăng Long...',
                img: 'customer-avatar-1.jpg',
                imgAlt: 'customer avatar 1',
                name: 'GIANG LT',
                job: 'Graphic design'
            },
            {
                desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên  từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn, Vang nổ đỏ Thăng Long...',
                img: 'customer-avatar-2.jpg',
                imgAlt: 'customer avatar 2',
                name: 'GIANG LT',
                job: 'Graphic design'
            },
            {
                desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên  từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn, Vang nổ đỏ Thăng Long...',
                img: 'customer-avatar-3.jpg',
                imgAlt: 'customer avatar 3',
                name: 'GIANG LT',
                job: 'Graphic design'
            },
        ]
    }

    var breadcrumb = {
        register: [
            {
                page: 'Trang chủ',
                link: '/'
            },
            {
                page: 'Đăng ký',
                link: '/register.html'
            }
        ]
    }