-
    var header = {
        topItems: [
            {
                title: "Tài khoản của tôi",
                link: "#!"
            },
            {
                title: "Trạng thái đơn hàng",
                link: "/order-list.html"
            },
            {
                title: "Danh sách ưu thích",
                link: "#!"
            },
            {
                title: "Giỏ hàng",
                link: "/cart.html"
            },
            {
                title: "Đăng nhập",
                link: "/login.html"
            },
            {
                title: "Đăng ký",
                link: "/register.html"
            }
        ],
        
        carouselItems: [
            {
                imgFile: 'slide-1.jpg',
                title:'Rượu',
                subtitle:'Vang Đỏ',
                year:'1980'
            },
                        {
                imgFile: 'slide-2.jpg',
                title:'Rượu',
                subtitle:'Vang Trắng',
                year:'1980'
            },
                        {
                imgFile: 'slide-3.jpg',
                title:'Rượu',
                subtitle:'Champagne',
                year:'1980'
            }
        ],

        navItems: [
            {
                title: 'Trang chủ',
                link: '/'
            },
            {
                title: 'Rượu vang đỏ',
                link: '/product.html', 
                hasMegaMenu: true
            },
            {
                title: 'Rượu trắng',
                link: '#',
                hasMegaMenu: true
            },
            {
                title: 'Champagne',
                link: '#',
                hasMegaMenu: true
            },
            {
                title: 'Thông tin',
                link: '/about.html'
            },
            {
                title: 'Blog',
                link: '/blog.html'
            },
            {
                title: 'Liên hệ',
                link: '/contact.html'
            }
        ],

        megaMenuItems: [
            {
                title: 'Rượu Ngoại',
                list: [
                    {
                        name: 'Rượu Chivas',
                        link: '#'
                    },
                    {
                        name: 'Hàng độc - Rượu độc đáo',
                        link: '#'
                    },
                    {
                        name: 'Johnnie Walker',
                        link: '#'
                    },
                    {
                        name: 'Rượu Whisky',
                        link: '#'
                    },
                    {
                        name: 'Rượu Remy Martin',
                        link: '#'
                    },
                    {
                        name: 'Rượu Glenmorangie',
                        link: '#'
                    }
                ]
            },
            {
                title: 'Rượu Vang',
                list: [
                    {
                        name: 'Rượu Chivas',
                        link: '#'
                    },
                    {
                        name: 'Hàng độc - Rượu độc đáo',
                        link: '#'
                    },
                    {
                        name: 'Johnnie Walker',
                        link: '#'
                    },
                    {
                        name: 'Rượu Whisky',
                        link: '#'
                    },
                    {
                        name: 'Rượu Remy Martin',
                        link: '#'
                    },
                    {
                        name: 'Rượu Glenmorangie',
                        link: '#'
                    }
                ]
            },
            {
                title: 'Rượu Ngoại',
                list: [
                    {
                        name: 'Rượu Chivas',
                        link: '#'
                    },
                    {
                        name: 'Hàng độc - Rượu độc đáo',
                        link: '#'
                    },
                    {
                        name: 'Johnnie Walker',
                        link: '#'
                    },
                    {
                        name: 'Rượu Whisky',
                        link: '#'
                    },
                    {
                        name: 'Rượu Remy Martin',
                        link: '#'
                    },
                    {
                        name: 'Rượu Glenmorangie',
                        link: '#'
                    }
                ]
            }
        ]
    };

    var footer = {
        brand: [
            {
                imgFile: 'brand-1.jpg',
                imgName: 'Authentic brand'
            },
            {
                imgFile: 'brand-2.jpg',
                imgName: 'Retrobrand'
            },
            {
                imgFile: 'brand-3.jpg',
                imgName: 'Bearbrand'
            }
        ],

        menuLeft: [
            {
                itemTitle: 'Thông tin',
                list: [
                    {
                        name: 'Về chúng tôi',
                        link: '#'
                    },
                    {
                        name: 'Giao hàng',
                        link: '#'
                    },
                    {
                        name: 'Cảm nghĩ',
                        link: '#'
                    },
                    {
                        name: 'Lưu trữ',
                        link: '#'
                    },
                    {
                        name: 'Chính sách riêng tư',
                        link: '#'
                    }
                ]
            },
            {
                itemTitle: 'Mua hàng',
                list: [
                    {
                        name: 'Vận chuyển và trả hàng',
                        link: '#'
                    },
                    {
                        name: 'Mua hàng an toàn',
                        link: '#'
                    },
                    {
                        name: 'Vận chuyển quốc tế',
                        link: '#'
                    },
                    {
                        name: 'Liên kết',
                        link: '#'
                    },
                    {
                        name: 'Dịch vụ giảm giá',
                        link: '#'
                    }
                ]
            } 
        ],

        menuEmail: {
            itemTitle: 'Gửi email',
            msg: 'Gửi email cho chúng tôi',
            placeholder: 'Enter your email',
            social: [
                {
                    icon: 'fab fa-twitter',
                    link: 'https://twitter.com/'
                },
                {
                    icon: 'fab fa-google',
                    link: 'https://www.google.com/'
                },
                {
                    icon: 'fab fa-dribbble',
                    link: 'https://dribbble.com/'
                },
                {
                    icon: 'fab fa-linkedin-in',
                    link: 'https://www.linkedin.com/'
                },
                {
                    icon: 'fab fa-instagram',
                    link: 'https://www.instagram.com/'
                },
            ]
        },

        menuContact: {
            itemTitle: 'Liên hệ',
            address: 'Tầng 4, Tòa nhà Hanoi Group Số 442 Đội Cấn, P. Cống Vị, Q. Ba Đình, Hà Nội',
            onlineAdvise: [
                {
                    icon: 'fas fa-phone-alt',
                    info: '(04) 6674 2332'
                },
                {
                    icon: 'fas fa-phone-alt',
                    info: '(04) 3786 8904'
                },
                {
                    icon: 'fas fa-phone-alt',
                    info: '(08) 6680 9686'
                },
                {
                    icon: 'fas fa-envelope',
                    info: 'Support@bizweb.vn'
                },
            ]
        },
        
        bottom: {
            copyright: '© Copyright 2008-2014 DKT Technology JSC',
            paymentImg: './assets/images/payment.jpg'
        }

    }

    var intro = {
        introBgLeft: {
            img: 'intro-bg-left.jpg',
            imgAlt: 'intro background left'
        },
        introBgRight: {
            img: 'intro-bg-right.jpg',
            imgAlt: 'intro background right'
        },
        introTitle: 'Giới thiệu',
        introDesc: 'Mriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui faciteorum claritatem Investigtiones demonstraverunt lectores legere me lius quod ii legunt saepius.Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putam'
    }

    var topProduct = {
        img: 'top-product.jpg',
        imgAlt: 'top product',
        title: 'Rượu nho năm 1987',
        price: '330.000',
        desc: 'Một hợp chất có trong rượu vang gọi là Resveratro có khả năng làm tăng tối đa tuổi thọ. Resveratro confcos khả năng ngăn chặn mật độ oxy hóa của protein béo.',
        link: '#!',
        countdown: [
            {
                number: '334',
                format: 'Ngày'
            },
            {
                number: '26',
                format: 'Giờ'
            },
            {
                number: '60',
                format: 'Phút'
            },
            {
                number: '15',
                format: 'Giây'
            },
        ]
    }

    var newProducts = {
        itemTitle: 'Sản phẩm mới',
        carousels: [
            [
                {
                    img: 'Product/1.jpg',
                    imgAlt: 'product 1',
                    type: 'sale',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                {
                    img: 'Product/2.jpg',
                    imgAlt: 'product 2',
                    type: 'new',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/3.jpg',
                    imgAlt: 'product 3',
                    type: 'hot',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/4.jpg',
                    imgAlt: 'product 4',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
            ],
            [
                {
                    img: 'Product/5.jpg',
                    imgAlt: 'product 1',
                    type: 'sale',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                {
                    img: 'Product/6.jpg',
                    imgAlt: 'product 2',
                    type: 'new',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/7.jpg',
                    imgAlt: 'product 3',
                    type: 'hot',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/8.jpg',
                    imgAlt: 'product 4',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
            ],
            [
                {
                    img: 'Product/9.jpg',
                    imgAlt: 'product 1',
                    type: 'sale',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                {
                    img: 'Product/10.jpg',
                    imgAlt: 'product 2',
                    type: 'new',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/11.jpg',
                    imgAlt: 'product 3',
                    type: 'hot',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/12.jpg',
                    imgAlt: 'product 4',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
            ]
        ]
    }

    var gallery = [
        {
            img: 'gallery-1.jpg',
            year: '1987',
            name: 'Rượu'
        },
        {
            img: 'gallery-2.jpg',
            year: '1969',
            name: 'Rượu'
        },
        {
            img: 'gallery-3.jpg',
            year: '1982',
            name: 'Rượu'
        },
        {
            img: 'gallery-4.jpg',
            year: '1973',
            name: 'Rượu'
        },
        {
            img: 'gallery-5.jpg',
            year: '1956',
            name: 'Rượu'
        },
        {
            img: 'gallery-6.jpg',
            year: '1999',
            name: 'Rượu'
        },
        {
            img: 'gallery-7.jpg',
            year: '1940',
            name: 'Rượu'
        },
        {
            img: 'gallery-8.jpg',
            year: '1952',
            name: 'Rượu'
        },
    ]

    var hotProducts = {
        itemTitle: 'Sản phẩm bán chạy',
        carousels: [
            [
                {
                    img: 'Product/14.jpg',
                    imgAlt: 'product 1',
                    type: 'sale',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                {
                    img: 'Product/13.jpg',
                    imgAlt: 'product 2',
                    type: 'new',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/12.jpg',
                    imgAlt: 'product 3',
                    type: 'hot',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/11.jpg',
                    imgAlt: 'product 4',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
            ],
            [
                {
                    img: 'Product/10.jpg',
                    imgAlt: 'product 1',
                    type: 'sale',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                {
                    img: 'Product/9.jpg',
                    imgAlt: 'product 2',
                    type: 'new',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/8.jpg',
                    imgAlt: 'product 3',
                    type: 'hot',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/7.jpg',
                    imgAlt: 'product 4',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
            ],
            [
                {
                    img: 'Product/6.jpg',
                    imgAlt: 'product 1',
                    type: 'sale',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                {
                    img: 'Product/5.jpg',
                    imgAlt: 'product 2',
                    type: 'new',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/4.jpg',
                    imgAlt: 'product 3',
                    type: 'hot',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/3.jpg',
                    imgAlt: 'product 4',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
            ]
        ]
    }

    var newsAndBlog = {
        itemTitle: 'Tin tức & Blog',
        blogCards: [
            {
                img: 'blog-1.jpg',
                imgAlt: 'blog image 1',
                itemTitle: 'Vang Thăng Long classic',
                author: 'Giangle',
                date: '30/06/2015',
                commentCount: '60',
                desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750m ...'
            },
            {
                img: 'blog-2.jpg',
                imgAlt: 'blog image 2',
                itemTitle: 'Vang Thăng Long classic',
                author: 'Giangle',
                date: '30/06/2015',
                commentCount: '60',
                desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long ...'
            }
        ]
    }

    var customerReview = {
        itemTitle: 'Khách hàng',
        carousels: [
            {
                desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên  từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn, Vang nổ đỏ Thăng Long...',
                img: 'customer-avatar-1.jpg',
                imgAlt: 'customer avatar 1',
                name: 'GIANG LT',
                job: 'Graphic design'
            },
            {
                desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên  từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn, Vang nổ đỏ Thăng Long...',
                img: 'customer-avatar-2.jpg',
                imgAlt: 'customer avatar 2',
                name: 'GIANG LT',
                job: 'Graphic design'
            },
            {
                desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên  từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn, Vang nổ đỏ Thăng Long...',
                img: 'customer-avatar-3.jpg',
                imgAlt: 'customer avatar 3',
                name: 'GIANG LT',
                job: 'Graphic design'
            },
        ]
    }

    var breadcrumb = {
        register: [
            {
                page: 'Trang chủ',
                link: '/'
            },
            {
                page: 'Đăng ký',
                link: '/register.html'
            }
        ],
        
        login: [
            {
                page: 'Trang chủ',
                link: '/'
            },
            {
                page: 'Đăng nhập',
                link: '/login.html'
            }
        ],

        product: [
            {
                page: 'Trang chủ',
                link: '/'
            },
            {
                page: 'Sản phẩm',
                link: '/product.html'
            }
        ],

        productDetail: [
            {
                page: 'Trang chủ',
                link: '/'
            },
            {
                page: 'Sản phẩm',
                link: '/product.html'
            },
            {
                page: 'Rượu vang đỏ',
                link: '/product-detail.html'
            },
        ],

        cart: [
            {
                page: 'Trang chủ',
                link: '/'
            },
            {
                page: 'Sản phẩm',
                link: '/product.html'
            },
            {
                page: 'Giỏ hàng',
                link: '/cart.html'
            },
        ],

        orderList: [
            {
                page: 'Trang chủ',
                link: '/'
            },
            {
                page: 'Danh sách đơn hàng',
                link: '/order-list.html'
            },
        ],

        blog: [
            {
                page: 'Trang chủ',
                link: '/'
            },
            {
                page: 'Blog',
                link: '/blog.html'
            },
        ],

        blogDetail: [
            {
                page: 'Trang chủ',
                link: '/'
            },
            {
                page: 'Blog',
                link: '/blog-detail.html'
            },
        ],

        address: [
            {
                page: 'Trang chủ',
                link: '/'
            },
            {
                page: 'Địa chỉ',
                link: '/address.html'
            },
        ],

        contact: [
            {
                page: 'Trang chủ',
                link: '/'
            },
            {
                page: 'Liên hệ',
                link: '/contact.html'
            },
        ],
    }

    var about = {
        content: {
            itemTitle: 'Chào mừng đến với wine hourse',
            desc1: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi',
            desc2: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml.'
        }
    }

    var product = {
        category: [
            {
                type: 'Rượu ngoại',
                list: [
                    {
                        name: 'Rượu Chivas',
                        qty: 26
                    },
                    {
                        name: 'Hàng độc - Rượu độc đáo',
                        qty: 36
                    },
                    {
                        name: 'Johnnie Walker',
                        qty: 46
                    },
                    {
                        name: 'Rượu Whisky',
                        qty: 24
                    },
                    {
                        name: 'Rượu Remy Martin',
                        qty: 16
                    },
                    {
                        name: 'Rượu Glenmorangie',
                        qty: 11
                    },
                    {
                        name: "Rượu Ballantine's",
                        qty: 7
                    },
                    {
                        name: 'Rượu Cognac',
                        qty: 40
                    },
                    {
                        name: 'Rượu Vodka',
                        qty: 93
                    },
                    {
                        name: 'Rượu Chivas',
                        qty: 26
                    },
                    {
                        name: 'Rượu Macallan',
                        qty: 19
                    },
                    {
                        name: 'Rượu Brandy',
                        qty: 62
                    },
                    {
                        name: 'Rượu Hennessy',
                        qty: 20
                    },
                    {
                        name: 'Rượu Gin - Tequila - Liqueur - Rượu mùi',
                        qty: 36
                    },
                    {
                        name: 'Rượu Champagne',
                        qty: 12
                    },
                    {
                        name: 'Rượu Single malt Scotch whisky',
                        qty: 47
                    },
                    {
                        name: 'Rượu Spirits',
                        qty: 4
                    }
                ]
            },
            {
                type: 'Rượu vang',
                list: [
                    {
                        name: 'Rượu Vang Pháp',
                        qty: 44
                    },
                    {
                        name: 'Rượu Vang Úc',
                        qty: 34
                    },
                    {
                        name: 'Rượu Vang Mỹ',
                        qty: 16
                    },
                    {
                        name: 'Rượu Vang Chile',
                        qty: 48
                    },
                    {
                        name: 'Rượu Vang Philip',
                        qty: 1
                    },
                    {
                        name: 'Rượu Vang Nam Phi',
                        qty: 20
                    },
                    {
                        name: 'Rượu Vang Ý',
                        qty: 2
                    }
                ]
            }
        ],

        tags: ["Đồng hồ", "Túi", "Phụ kiện", "Giày", "Sandal", "Áo sơ mi", "Nước hoa", "Trẻ em", "Thời trang nữ"],

        //- list: [
        //-     {
        //-         img: 'Product/1.jpg',
        //-         imgAlt: 'product 1',
        //-         detailLink: '/product-detail.html',
        //-         name: 'rượu vang đà lạt',
        //-         price: '370.000',
        //-         originPrice: '450.000',
        //-         desc: 'Một hợp chất có trong rượu vang gọi là resverato có khả năng làm tăng tối đa tuổi thọ. Resverato còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.',
        //-         link: '#'
        //-     },
        //-     {
        //-         img: 'Product/2.jpg',
        //-         imgAlt: 'product 2',
        //-         detailLink: '/product-detail.html',
        //-         name: 'rượu vang đà lạt',
        //-         price: '370.000',
        //-         originPrice: '450.000',
        //-         desc: 'Một hợp chất có trong rượu vang gọi là resverato có khả năng làm tăng tối đa tuổi thọ. Resverato còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.',
        //-         link: '#'
        //-     },
        //-     {
        //-         img: 'Product/3.jpg',
        //-         imgAlt: 'product 3',
        //-         detailLink: '/product-detail.html',
        //-         name: 'rượu vang đà lạt',
        //-         price: '370.000',
        //-         originPrice: '450.000',
        //-         desc: 'Một hợp chất có trong rượu vang gọi là resverato có khả năng làm tăng tối đa tuổi thọ. Resverato còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.',
        //-         link: '#'
        //-     },
        //-     {
        //-         img: 'Product/4.jpg',
        //-         imgAlt: 'product 4',
        //-         detailLink: '/product-detail.html',
        //-         name: 'rượu vang đà lạt',
        //-         price: '370.000',
        //-         originPrice: '450.000',
        //-         desc: 'Một hợp chất có trong rượu vang gọi là resverato có khả năng làm tăng tối đa tuổi thọ. Resverato còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.',
        //-         link: '#'
        //-     },
        //-     {
        //-         img: 'Product/5.jpg',
        //-         imgAlt: 'product 5',
        //-         detailLink: '/product-detail.html',
        //-         name: 'rượu vang đà lạt',
        //-         price: '370.000',
        //-         originPrice: '450.000',
        //-         desc: 'Một hợp chất có trong rượu vang gọi là resverato có khả năng làm tăng tối đa tuổi thọ. Resverato còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.',
        //-         link: '#'
        //-     },
        //-     {
        //-         img: 'Product/6.jpg',
        //-         imgAlt: 'product 6',
        //-         detailLink: '/product-detail.html',
        //-         name: 'rượu vang đà lạt',
        //-         price: '370.000',
        //-         originPrice: '450.000',
        //-         desc: 'Một hợp chất có trong rượu vang gọi là resverato có khả năng làm tăng tối đa tuổi thọ. Resverato còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.',
        //-         link: '#'
        //-     },
        //-     {
        //-         img: 'Product/7.jpg',
        //-         imgAlt: 'product 7',
        //-         detailLink: '/product-detail.html',
        //-         name: 'rượu vang đà lạt',
        //-         price: '370.000',
        //-         originPrice: '450.000',
        //-         desc: 'Một hợp chất có trong rượu vang gọi là resverato có khả năng làm tăng tối đa tuổi thọ. Resverato còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.',
        //-         link: '#'
        //-     },
        //-     {
        //-         img: 'Product/8.jpg',
        //-         imgAlt: 'product 8',
        //-         detailLink: '/product-detail.html',
        //-         name: 'rượu vang đà lạt',
        //-         price: '370.000',
        //-         originPrice: '450.000',
        //-         desc: 'Một hợp chất có trong rượu vang gọi là resverato có khả năng làm tăng tối đa tuổi thọ. Resverato còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.',
        //-         link: '#'
        //-     },
        //-     {
        //-         img: 'Product/9.jpg',
        //-         imgAlt: 'product 9',
        //-         detailLink: '/product-detail.html',
        //-         name: 'rượu vang đà lạt',
        //-         price: '370.000',
        //-         originPrice: '450.000',
        //-         desc: 'Một hợp chất có trong rượu vang gọi là resverato có khả năng làm tăng tối đa tuổi thọ. Resverato còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.',
        //-         link: '#'
        //-     },
        //- ],
    }

    var productDetail = {
        imageList: [
            {
                img: 'Product/13.jpg',
                imgAlt: 'product 13',
            },
            {
                img: 'Product/13.jpg',
                imgAlt: 'product 13',
            },
            {
                img: 'Product/8.jpg',
                imgAlt: 'product 8',
            },
            {
                img: 'Product/7.jpg',
                imgAlt: 'product 7',
            },
            {
                img: 'Product/13.jpg',
                imgAlt: 'product 13',
            },
        ],

        name: 'rượu nho năm 1987',
        price: '330.000',
        rating: 3.5,
        numberOfReview: 1,
        colors: [
            'yellow',
            'black',
            'red'
        ],

        desc: 'Một hợp chất có trong rượu vang gọi là resverato có khả năng làm tăng tối đa tuổi thọ. Resverato còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.',
    }

    var productTab = {
        tabs: [
            {
                tabTitle: 'Đặc điểm nổi bật',
                desc: 'Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn.Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to.Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn. Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to. Vậy diện đồ thế nào để vừa tạo cảm giác nhẹ nhàng nhưng lại khéo léo giấu được nhược điểm ấy? Sau đây, chúng tôi xin đưa ra gợi ý về loạt item mà các cô nàng chân to nên gắn bó trong mùa hè này.'
            },
            {
                tabTitle: 'Thông tin sản phẩm',
                desc: 'Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn.Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to.Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn. Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to. Vậy diện đồ thế nào để vừa tạo cảm giác nhẹ nhàng nhưng lại khéo léo giấu được nhược điểm ấy? Sau đây, chúng tôi xin đưa ra gợi ý về loạt item mà các cô nàng chân to nên gắn bó trong mùa hè này.'
            },
            {
                tabTitle: 'Đánh giá',
                desc: 'Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn.Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to.Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn. Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to. Vậy diện đồ thế nào để vừa tạo cảm giác nhẹ nhàng nhưng lại khéo léo giấu được nhược điểm ấy? Sau đây, chúng tôi xin đưa ra gợi ý về loạt item mà các cô nàng chân to nên gắn bó trong mùa hè này.'
            },
        ],

        wineImg: 'gallery-6.jpg',
        wineImgContent: 'Rượu nho',
    }

    var relevantProducts = {
        itemTitle: 'Sản phẩm liên quan',
        carousels: [
            [
                {
                    img: 'Product/1.jpg',
                    imgAlt: 'product 1',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                {
                    img: 'Product/2.jpg',
                    imgAlt: 'product 2',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/3.jpg',
                    imgAlt: 'product 3',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/4.jpg',
                    imgAlt: 'product 4',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
            ],
            [
                {
                    img: 'Product/5.jpg',
                    imgAlt: 'product 1',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                {
                    img: 'Product/6.jpg',
                    imgAlt: 'product 2',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/7.jpg',
                    imgAlt: 'product 3',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/8.jpg',
                    imgAlt: 'product 4',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
            ],
            [
                {
                    img: 'Product/9.jpg',
                    imgAlt: 'product 1',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                {
                    img: 'Product/10.jpg',
                    imgAlt: 'product 2',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/11.jpg',
                    imgAlt: 'product 3',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
                            {
                    img: 'Product/12.jpg',
                    imgAlt: 'product 4',
                    detailLink: '/product-detail.html',
                    name: 'rượu vang đà lạt',
                    price: '370.000',
                    originPrice: '450.000',
                    link: '#'
                },
            ]
        ]
    }

    var cart = {
        items: [
            {
                img: '1.jpg',
                imgAlt: 'product 1',
                name: 'Rượu vang đỏ',
                price: 345000,
                qty: 1,
            },
            {
                img: '2.jpg',
                imgAlt: 'product 2',
                name: 'Rượu vang đỏ',
                price: 350000,
                qty: 2,
            },
            {
                img: '3.jpg',
                imgAlt: 'product 3',
                name: 'Rượu vang đỏ',
                price: 355000,
                qty: 3,
            },
            {
                img: '4.jpg',
                imgAlt: 'product 4',
                name: 'Rượu vang đỏ',
                price: 360000,
                qty: 4,
            },
        ],
    }

    var order = {
        status: {
            cancelled: 10,
            unapproved: 0,
            approved: 0,
            paid: 0,
            bought: 0,
            delivering: 0,
            finished: 6,
        },
        
        list: [
            {   
                billCode: 'LEANHGIANG89',
                orderDate: '17/06/2015',
                dateTime: '01:36 14/03/2015',
                warehouse: 'HÀ ĐÔNG',
                qty: 7,
                total: '350.000',
                status: 'Đã thanh toán'
            },
            {
                billCode: 'LEANHGIANG89',
                orderDate: '17/06/2015',
                dateTime: '01:36 14/03/2015',
                warehouse: 'HÀ ĐÔNG',
                qty: 7,
                total: '350.000',
                status: 'Đã thanh toán'
            },
            {
                billCode: 'LEANHGIANG89',
                orderDate: '17/06/2015',
                dateTime: '01:36 14/03/2015',
                warehouse: 'HÀ ĐÔNG',
                qty: 7,
                total: '350.000',
                status: 'Đã thanh toán'
            },
            {
                billCode: 'LEANHGIANG89',
                orderDate: '17/06/2015',
                dateTime: '01:36 14/03/2015',
                warehouse: 'HÀ ĐÔNG',
                qty: 7,
                total: '350.000',
                status: 'Đã thanh toán'
            },
            {
                billCode: 'LEANHGIANG89',
                orderDate: '17/06/2015',
                dateTime: '01:36 14/03/2015',
                warehouse: 'HÀ ĐÔNG',
                qty: 7,
                total: '350.000',
                status: 'Đã thanh toán'
            },
            {
                billCode: 'LEANHGIANG89',
                orderDate: '17/06/2015',
                dateTime: '01:36 14/03/2015',
                warehouse: 'HÀ ĐÔNG',
                qty: 7,
                total: '350.000',
                status: 'Đã thanh toán'
            },
        ],

        customerInfo: {
            name: 'Giang Lê',
            email: 'leanhgiang89@gmail.com',
            placeName: 'Tòa nhà Hà Nội Group',
            address: '442 Đội Cấn, Ba Đình, Hà Nội',
            phoneNumber: '(04) 3786 8904',
        },
    }

    var blog = {
        list: [
            {
                img: 'blog-1.jpg',
                imgAlt: 'blog image 1',
                itemTitle: 'Vang Thăng Long classic',
                author: 'Giangle',
                date: '30/06/2015',
                commentCount: '60',
                desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750m ...'
            },
            {
                img: 'blog-2.jpg',
                imgAlt: 'blog image 2',
                itemTitle: 'Vang Thăng Long classic',
                author: 'Giangle',
                date: '30/06/2015',
                commentCount: '60',
                desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long ...'
            },
            {
                img: 'blog-1.jpg',
                imgAlt: 'blog image 1',
                itemTitle: 'Vang Thăng Long classic',
                author: 'Giangle',
                date: '30/06/2015',
                commentCount: '60',
                desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750m ...'
            },
            {
                img: 'blog-2.jpg',
                imgAlt: 'blog image 2',
                itemTitle: 'Vang Thăng Long classic',
                author: 'Giangle',
                date: '30/06/2015',
                commentCount: '60',
                desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long ...'
            },
            {
                img: 'blog-1.jpg',
                imgAlt: 'blog image 1',
                itemTitle: 'Vang Thăng Long classic',
                author: 'Giangle',
                date: '30/06/2015',
                commentCount: '60',
                desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750m ...'
            },
            {
                img: 'blog-2.jpg',
                imgAlt: 'blog image 2',
                itemTitle: 'Vang Thăng Long classic',
                author: 'Giangle',
                date: '30/06/2015',
                commentCount: '60',
                desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long ...'
            },
            {
                img: 'blog-1.jpg',
                imgAlt: 'blog image 1',
                itemTitle: 'Vang Thăng Long classic',
                author: 'Giangle',
                date: '30/06/2015',
                commentCount: '60',
                desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750m ...'
            },
            {
                img: 'blog-2.jpg',
                imgAlt: 'blog image 2',
                itemTitle: 'Vang Thăng Long classic',
                author: 'Giangle',
                date: '30/06/2015',
                commentCount: '60',
                desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long ...'
            },
            {
                img: 'blog-1.jpg',
                imgAlt: 'blog image 1',
                itemTitle: 'Vang Thăng Long classic',
                author: 'Giangle',
                date: '30/06/2015',
                commentCount: '60',
                desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750m ...'
            },
        ],
    }

    var blogDetail = {
        newPost: [
            {
                img: 'new-post-1.jpg',
                imgAlt: 'new post 1 image',
                link: '/blog-detail.html',
                postTitle: 'Cách sắp xếp nội thất trong nhà',
                date: '12/06/2015'
            },
            {
                img: 'new-post-2.jpg',
                imgAlt: 'new post 2 image',
                link: '/blog-detail.html',
                postTitle: 'Làm sao để bảo quản rượu được lâu?',
                date: '12/06/2015'
            },
            {
                img: 'new-post-3.jpg',
                imgAlt: 'new post 3 image',
                link: '/blog-detail.html',
                postTitle: 'Uống rượu không say? Tại sao không?',
                date: '12/06/2015'
            },
        ],

        tags: ["Đồng hồ", "Túi", "Phụ kiện", "Giày", "Sandal", "Áo sơ mi", "Nước hoa", "Trẻ em", "Thời trang nữ"],
        
        post: {
                img: 'blog-1.jpg',
                imgAlt: 'blog image 1',
                itemTitle: 'Vang Thăng Long classic',
                author: 'Giangle',
                date: '30/06/2015',
                commentCount: '60',
                desc: 'Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750m.Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750m ...'
        },

        comments: [
            {
                author: 'Giangle',
                time: '4',
                comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
            },
            {
                author: 'Giangle',
                time: '4',
                comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
            },
            {
                author: 'Giangle',
                time: '4',
                comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
            }
        ]
    }

    var userInfo = {
        cityOption: [
            {
                label: 'Hà Nội',
                value: 'HN'
            },
            {
                label: 'Hồ Chí Minh',
                value: 'HCM'
            },
            {
                label: 'Đà Nẵng',
                value: 'DN'
            },
        ],

        nationOption: [
            {
                label: 'Việt Nam',
                value: 'VN'
            },
            {
                label: 'Thái Lan',
                value: 'TL'
            },
        ],

        list: [
            {
                firstName: 'Giang',
                lastName: 'Lê Anh',
                company: 'Cổ phần công nghệ DKT',
                address: 'Tòa nhà Hà Nội Group, 442 Đội Cấn, Ba Đình, Hà Nội',
                city: {
                    label: 'Hà Nội',
                    value: 'HN'
                },
                nation: {
                    label: 'Việt Nam',
                    value: 'VN'
                },
                zipCode: '2300089',
                phone: '0974554928',
            },
            {
                firstName: 'Giang',
                lastName: 'Lê Anh',
                company: 'Cổ phần công nghệ DKT',
                address: 'Tòa nhà Hà Nội Group, 442 Đội Cấn, Ba Đình, Hà Nội',
                city: {
                    label: 'Hà Nội',
                    value: 'HN'
                },
                nation: {
                    label: 'Việt Nam',
                    value: 'VN'
                },
                zipCode: '2300089',
                phone: '0974554928',
            },
            {
                firstName: 'Giang',
                lastName: 'Lê Anh',
                company: 'Cổ phần công nghệ DKT',
                address: 'Tòa nhà Hà Nội Group, 442 Đội Cấn, Ba Đình, Hà Nội',
                city: {
                    label: 'Hà Nội',
                    value: 'HN'
                },
                nation: {
                    label: 'Việt Nam',
                    value: 'VN'
                },
                zipCode: '2300089',
                phone: '0974554928',
            },
        ]
    }

    var contact = {
        img: 'logo-yellow.png',
        imgAlt: 'Logo image',
        address: 'Tầng 4, tòa nhà Hanoi Group, số 442 Đội Cẩn, P.Cống Vị, Q.Ba Đình, Hà Nội',
        phone: '(04) 6674 2332',
        email: 'support@milano.com',
        social: [
            {
                icon: 'fab fa-facebook-f',
                link: '#'
            },
            {
                icon: 'fab fa-google-plus-g',
                link: '#'
            },
            {
                icon: 'fab fa-twitter',
                link: '#'
            },
            {
                icon: 'fab fa-youtube',
                link: '#'
            },
            {
                icon: 'fab fa-pinterest',
                link: '#'
            },
            {
                icon: 'fab fa-vk',
                link: '#'
            },
        ]
    }