-
    var header = {
        topItems: [
            {
                title: "Tài khoản của tôi",
                link: "#!"
            },
            {
                title: "Trạng thái đơn hàng",
                link: "/order-list.html"
            },
            {
                title: "Danh sách ưu thích",
                link: "#!"
            },
            {
                title: "Giỏ hàng",
                link: "/cart.html"
            },
            {
                title: "Đăng nhập",
                link: "/login.html"
            },
            {
                title: "Đăng ký",
                link: "/register.html"
            }
        ],
        
        carouselItems: [
            {
                imgFile: 'slide-1.jpg',
                title:'Rượu',
                subtitle:'Vang Đỏ',
                year:'1980'
            },
                        {
                imgFile: 'slide-2.jpg',
                title:'Rượu',
                subtitle:'Vang Trắng',
                year:'1980'
            },
                        {
                imgFile: 'slide-3.jpg',
                title:'Rượu',
                subtitle:'Champagne',
                year:'1980'
            }
        ],

        navItems: [
            {
                title: 'Trang chủ',
                link: '/'
            },
            {
                title: 'Rượu vang đỏ',
                link: '/product.html', 
                hasMegaMenu: true
            },
            {
                title: 'Rượu trắng',
                link: '#',
                hasMegaMenu: true
            },
            {
                title: 'Champagne',
                link: '#',
                hasMegaMenu: true
            },
            {
                title: 'Thông tin',
                link: '/about.html'
            },
            {
                title: 'Blog',
                link: '/blog.html'
            },
            {
                title: 'Liên hệ',
                link: '/contact.html'
            }
        ],

        megaMenuItems: [
            {
                title: 'Rượu Ngoại',
                list: [
                    {
                        name: 'Rượu Chivas',
                        link: '#'
                    },
                    {
                        name: 'Hàng độc - Rượu độc đáo',
                        link: '#'
                    },
                    {
                        name: 'Johnnie Walker',
                        link: '#'
                    },
                    {
                        name: 'Rượu Whisky',
                        link: '#'
                    },
                    {
                        name: 'Rượu Remy Martin',
                        link: '#'
                    },
                    {
                        name: 'Rượu Glenmorangie',
                        link: '#'
                    }
                ]
            },
            {
                title: 'Rượu Vang',
                list: [
                    {
                        name: 'Rượu Chivas',
                        link: '#'
                    },
                    {
                        name: 'Hàng độc - Rượu độc đáo',
                        link: '#'
                    },
                    {
                        name: 'Johnnie Walker',
                        link: '#'
                    },
                    {
                        name: 'Rượu Whisky',
                        link: '#'
                    },
                    {
                        name: 'Rượu Remy Martin',
                        link: '#'
                    },
                    {
                        name: 'Rượu Glenmorangie',
                        link: '#'
                    }
                ]
            },
            {
                title: 'Rượu Ngoại',
                list: [
                    {
                        name: 'Rượu Chivas',
                        link: '#'
                    },
                    {
                        name: 'Hàng độc - Rượu độc đáo',
                        link: '#'
                    },
                    {
                        name: 'Johnnie Walker',
                        link: '#'
                    },
                    {
                        name: 'Rượu Whisky',
                        link: '#'
                    },
                    {
                        name: 'Rượu Remy Martin',
                        link: '#'
                    },
                    {
                        name: 'Rượu Glenmorangie',
                        link: '#'
                    }
                ]
            }
        ]
    };

    var footer = {
        brand: [
            {
                imgFile: 'brand-1.jpg',
                imgName: 'Authentic brand'
            },
            {
                imgFile: 'brand-2.jpg',
                imgName: 'Retrobrand'
            },
            {
                imgFile: 'brand-3.jpg',
                imgName: 'Bearbrand'
            }
        ],

        menuLeft: [
            {
                itemTitle: 'Thông tin',
                list: [
                    {
                        name: 'Về chúng tôi',
                        link: '#'
                    },
                    {
                        name: 'Giao hàng',
                        link: '#'
                    },
                    {
                        name: 'Cảm nghĩ',
                        link: '#'
                    },
                    {
                        name: 'Lưu trữ',
                        link: '#'
                    },
                    {
                        name: 'Chính sách riêng tư',
                        link: '#'
                    }
                ]
            },
            {
                itemTitle: 'Mua hàng',
                list: [
                    {
                        name: 'Vận chuyển và trả hàng',
                        link: '#'
                    },
                    {
                        name: 'Mua hàng an toàn',
                        link: '#'
                    },
                    {
                        name: 'Vận chuyển quốc tế',
                        link: '#'
                    },
                    {
                        name: 'Liên kết',
                        link: '#'
                    },
                    {
                        name: 'Dịch vụ giảm giá',
                        link: '#'
                    }
                ]
            } 
        ],

        menuEmail: {
            itemTitle: 'Gửi email',
            msg: 'Gửi email cho chúng tôi',
            placeholder: 'Enter your email',
            social: [
                {
                    icon: 'fab fa-twitter',
                    link: 'https://twitter.com/'
                },
                {
                    icon: 'fab fa-google',
                    link: 'https://www.google.com/'
                },
                {
                    icon: 'fab fa-dribbble',
                    link: 'https://dribbble.com/'
                },
                {
                    icon: 'fab fa-linkedin-in',
                    link: 'https://www.linkedin.com/'
                },
                {
                    icon: 'fab fa-instagram',
                    link: 'https://www.instagram.com/'
                },
            ]
        },

        menuContact: {
            itemTitle: 'Liên hệ',
            address: 'Tầng 4, Tòa nhà Hanoi Group Số 442 Đội Cấn, P. Cống Vị, Q. Ba Đình, Hà Nội',
            onlineAdvise: [
                {
                    icon: 'fas fa-phone-alt',
                    info: '(04) 6674 2332'
                },
                {
                    icon: 'fas fa-phone-alt',
                    info: '(04) 3786 8904'
                },
                {
                    icon: 'fas fa-phone-alt',
                    info: '(08) 6680 9686'
                },
                {
                    icon: 'fas fa-envelope',
                    info: 'Support@bizweb.vn'
                },
            ]
        },
        
        bottom: {
            copyright: '© Copyright 2008-2014 DKT Technology JSC',
            paymentImg: './assets/images/payment.jpg'
        }

    }