-
    const header = {
        topItems: [
            {
                title: "Tài khoản của tôi",
                link: "#!"
            },
            {
                title: "Trạng thái đơn hàng",
                link: "/order-list.html"
            },
            {
                title: "Danh sách ưu thích",
                link: "#!"
            },
            {
                title: "Giỏ hàng",
                link: "/cart.html"
            },
            {
                title: "Đăng nhập",
                link: "/login.html"
            },
            {
                title: "Đăng ký",
                link: "/register.html"
            }
        ],
        
        carouselItems: [
            {
                imgFile: 'slide-1.jpg',
                title:'Rượu',
                subtitle:'Vang Đỏ',
                year:'1980'
            },
                        {
                imgFile: 'slide-2.jpg',
                title:'Rượu',
                subtitle:'Vang Trắng',
                year:'1980'
            },
                        {
                imgFile: 'slide-3.jpg',
                title:'Rượu',
                subtitle:'Champagne',
                year:'1980'
            }
        ],

        navItems: [
            {
                title: 'Trang chủ',
                link: '/'
            },
            {
                title: 'Rượu vang đỏ',
                link: '/product.html', 
                hasMegaMenu: true
            },
            {
                title: 'Rượu trắng',
                link: '#',
                hasMegaMenu: true
            },
            {
                title: 'Champagne',
                link: '#',
                hasMegaMenu: true
            },
            {
                title: 'Thông tin',
                link: '/about.html'
            },
            {
                title: 'Blog',
                link: '/blog.html'
            },
            {
                title: 'Liên hệ',
                link: '/contact.html'
            }
        ],

        megaMenuItems: [
            {
                title: 'Rượu Ngoại',
                list: [
                    {
                        name: 'Rượu Chivas',
                        link: '#'
                    },
                    {
                        name: 'Hàng độc - Rượu độc đáo',
                        link: '#'
                    },
                    {
                        name: 'Johnnie Walker',
                        link: '#'
                    },
                    {
                        name: 'Rượu Whisky',
                        link: '#'
                    },
                    {
                        name: 'Rượu Remy Martin',
                        link: '#'
                    },
                    {
                        name: 'Rượu Glenmorangie',
                        link: '#'
                    }
                ]
            },
            {
                title: 'Rượu Vang',
                list: [
                    {
                        name: 'Rượu Chivas',
                        link: '#'
                    },
                    {
                        name: 'Hàng độc - Rượu độc đáo',
                        link: '#'
                    },
                    {
                        name: 'Johnnie Walker',
                        link: '#'
                    },
                    {
                        name: 'Rượu Whisky',
                        link: '#'
                    },
                    {
                        name: 'Rượu Remy Martin',
                        link: '#'
                    },
                    {
                        name: 'Rượu Glenmorangie',
                        link: '#'
                    }
                ]
            },
            {
                title: 'Rượu Ngoại',
                list: [
                    {
                        name: 'Rượu Chivas',
                        link: '#'
                    },
                    {
                        name: 'Hàng độc - Rượu độc đáo',
                        link: '#'
                    },
                    {
                        name: 'Johnnie Walker',
                        link: '#'
                    },
                    {
                        name: 'Rượu Whisky',
                        link: '#'
                    },
                    {
                        name: 'Rượu Remy Martin',
                        link: '#'
                    },
                    {
                        name: 'Rượu Glenmorangie',
                        link: '#'
                    }
                ]
            }
        ]
    }