.button {
  @include borderRadius;
  @include transition;

  position: relative;
  padding: 0.4rem 1.6rem;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1.5;
  color: $white;
  background-color: $black;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;

  &:hover {
    background-color: $primary-color;
    color: $white;
  }
}

.button--arrow {
  &::after {
    @include transition;
    content: "";
    position: absolute;
    border: 16px solid;
    border-color: transparent transparent transparent $black;
    left: 100%;
    top: 0;
  }

  &:hover {
    &::after {
      border-left-color: $primary-color;
    }
  }
}

.button--lg {
  font-size: 1.6rem;
  padding: 1rem 3rem;
}

.button--gray {
  @include borderRadius(4px);
  background-color: rgba($light-gray, 0.6);
  color: $black;
}

.button--save {
  background-color: $save-color;
}

.button--add-update {
  padding: 0;
  border: none;
  background-color: transparent;

  & label {
    cursor: pointer;
    font-size: 1.8rem;
    color: $save-color;
    text-decoration: underline;
  }
}

.label-btn {
  &.button {
    padding: 0;
  }

  label {
    padding: 0.4rem 1.6rem;
    cursor: pointer;
  }
}

.carousel-btn {
  @include borderRadius(50%);
  height: 4rem;
  width: 4rem;
  font-size: 1.6rem;
  opacity: 1 !important;
  color: $black;

  &:hover {
    @include transform(scale(1.1));
    color: $primary-color;
  }

  &:focus {
    color: $primary-color;
  }
}
