.button {
  @include borderRadius;
  @include transition;

  position: relative;
  padding: 0.4rem 1.6rem;
  display: inline-block;
  font-size: 1.4rem;
  color: $white;
  background-color: $black;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  cursor: pointer;

  &:hover {
    background-color: $primary-color;
    color: $white;
  }
}

.button--arrow {
  &::after {
    @include transition;
    content: "";
    position: absolute;
    border: 16px solid;
    border-color: transparent transparent transparent $black;
    left: 100%;
    top: 0;
  }

  &:hover {
    &::after {
      border-left-color: $primary-color;
    }
  }
}

.button--lg {
  font-size: 1.6rem;
  padding: 1rem 3rem;
}

.carousel-btn {
  @include borderRadius(50%);
  height: 4rem;
  width: 4rem;
  font-size: 1.6rem;
  opacity: 1 !important;
  color: $black;

  &:hover {
    @include transform(scale(1.1));
    color: $primary-color;
  }

  &:focus {
    color: $primary-color;
  }
}
