.top-title {
  @include relative;
  text-transform: uppercase;
  margin-bottom: 1.4rem;

  &__title {
    font-size: 2.6rem;
    margin-bottom: 0.2rem;
  }

  &--special {
    letter-spacing: 0.4rem;

    h2 {
      font-size: 2rem;
    }
  }
}
