.header {
  &__top {
    position: relative;
    color: $gray;
    font-size: 1.2rem;
    height: 33px;
    background-color: rgba($white, 0.1);
    z-index: 10;

    &--index {
      .header__top-link {
        color: $light-gray;
      }

      button {
        em:before {
          color: $white !important;
        }
      }

      @include media-breakpoint(sm) {
        .header__top-link {
          color: $gray;
        }

        button {
          em:before {
            color: $dark-gray !important;
          }
        }
      }
    }

    &-list {
      padding: 0;
      margin: 0;

      @include media-breakpoint(md, up) {
        margin-bottom: 0;
      }
    }

    &-item {
      display: inline-block;

      @include media-breakpoint(md) {
        &:nth-child(n):not(:nth-child(4)):not(:nth-child(5)) {
          display: none;
        }

        &:nth-child(4)::before {
          content: "" !important;
        }
      }
    }

    &-item + &-item::before {
      content: "  -  ";
      white-space: pre;
    }

    &-link {
      @include transition;
      text-decoration: none;
      color: $gray;

      &:hover {
        color: $primary-color;
        text-decoration: underline;
      }
    }

    form {
      @include media-breakpoint(sm) {
        width: 160px;
      }

      input {
        @include borderRadius;
        @include placeholder {
          color: $light-gray;
          font-style: italic;
        }

        border: none;
        border-left: 1px solid $light-gray;
        font-size: 1.2rem;
      }

      button {
        em:before {
          color: $gray;
        }
      }
    }
  }

  // carousel header of index page
  .carousel {
    &-inner,
    &-item {
      height: 70vh;
    }
  }

  &__carousel {
    position: relative;
    top: -33px;
    left: 0;
    right: 0;
    margin-bottom: -33px;

    &-content,
    &-img {
      @include absoluteCenter;
    }

    &-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &-content {
      color: rgba($white, 0.8);
    }

    &-title {
      position: relative;
      font-size: 20vw;
      font-family: $secondary-font;
      white-space: nowrap;
      display: table;
    }

    &-year {
      font-size: 2vw;
      font-family: $fourth-font;
    }

    &-subtitle {
      position: absolute;
      top: 20%;
      left: 46%;
      right: 0;
      font-size: 4vw;
      font-family: $secondary-font;
    }
  }

  // header navbar
  &__nav {
    background-color: $black;

    &-list {
      margin: 0 0 0 30px;
      padding: 0;
    }

    &-item {
      position: relative;

      @include media-breakpoint(lg, up) {
        display: inline-block;
      }

      @include media-breakpoint(lg, down) {
        padding: 4px 0;
        text-align: right;
        margin-right: 30px;
      }

      // mega menu
      .mega-menu {
        @include transformOrigin(230px top);
        @include animation(megaMenuGrowth ease-in 0.25s);
        @include transition;

        display: none;
        min-width: 550px;
        width: 52vw;
        padding: 36px;
        position: absolute;
        top: 95px;
        left: -182px;
        background-color: $white;
        border: 1px solid $primary-color;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        z-index: 10;
        will-change: opacity, transform;

        &__item {
          h3 {
            text-transform: uppercase;
          }
        }

        &__list {
          padding: 0;
        }

        &__link {
          display: block;
          padding: 4px 0;
        }

        img {
          @include media-breakpoint(xl) {
            padding-top: 20px;
          }

          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &::before {
          content: "";
          border: 10px solid;
          border-color: transparent transparent $primary-color transparent;
          position: absolute;
          top: -20px;
          left: 230px;
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: -82px;
          left: 170px;
          width: 150px;
          height: 82px;
        }
      }

      &:hover {
        @include media-breakpoint(lg, up) {
          & > .mega-menu {
            display: block;
          }
        }

        & > a {
          color: $primary-color !important;
        }
      }
    }

    &-link {
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2.4px;

      @include media-breakpoint(lg, up) {
        padding: 70px 0;
      }
    }
  }

  .active {
    color: $primary-color;
  }
}
